<div class="col-sm-6 col-xs-12">
  <a id="organisationTypesTableToggle" class="clickable glyphicon glyphicon-triangle-bottom" aria-hidden="true" on-click="toggleResults()" title="Collapse or expand the organisationType table"></a>
  <span>Organisation Types</span>
  <a class="clickable glyphicon glyphicon-plus" aria-hidden="true" on-click="add()" title="Add a new organisationType"></a>
  <a class="clickable glyphicon glyphicon-refresh" aria-hidden="true" on-click="fetch()" title="Refresh the list"></a>
</div>
<div class="col-sm-6 col-xs-12">
  <input type="search" class="form-control search" placeholder="Search" value="{{searchTerm}}">
  <a class="glyphicon glyphicon-search" aria-hidden="true" title="Search for matching organisationTypes"></a>
  <a class="clickable dropdown" aria-hidden="true" id="filterBtn" title="Show filters">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
      <a class="clickable glyphicon glyphicon-filter dropdown" aria-hidden="true" title="Show filters"> <span class="caret"></a>
    </a>
    <ul class="omny-dropdown dropdown-menu" id="filterMenu" role="menu">
      <li on-click="filter()">Show All</li>
      <li on-click="filter({field: 'status', operator: '!in', value: 'Cold,Complete'})">Show Active</li>
      <li class="divider"></li>
      {{#statuses}}
        <li onclick="ractive.filter({field: 'status', value: '{{id}}'})">{{name}}</li>
      {{/statuses}}
      <li class="divider"></li>
      {{#enquiryTypes}}
        <li onclick="ractive.filter({field: 'enquiryType', value: '{{id}}'})">{{name}}</li>
      {{/}}
      <li class="divider"></li>
      {{#accountTypes}}
        <li onclick="ractive.filter({field: 'accountType', value: '{{id}}'})">{{name}}</li>
      {{/accountTypes}}
    </ul>
  </a>
</div>
<div style="clear:both"></div>