<div class="modal fade" id="licenseModal" tabindex="-1" role="dialog" aria-labelledby="licenseModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="licenseModalLabel">License Terms</h4>
      </div>
      <div class="modal-body">
        <div class="alert-info" style="line-height:2.5em;padding:0 10px">To enter your own values you need to register first.</div>
        <form id="licenseForm" class="form-horizontal">
          <ul class="form edit-form">
            <li style="clear:both">
              <label class="col-md-2 required" for="curFirstName">First Name:</label> 
              <input class="form-control" id="curFirstName" placeholder="First name" required value="{{current.firstName}}">
              <p class="help-block col-md-offset-2"></p>
            </li>
            <li style="clear:both">
              <label class="col-md-2 required" for="curLastName">Last Name:</label> 
              <input class="form-control" id="curLastName" placeholder="Last name" required value="{{current.lastName}}">
              <p class="help-block col-md-offset-2"></p>
            </li>
            <li style="clear:both">
              <label class="col-md-2 required" for="curEmail">Email:</label> 
              <input class="form-control" id="curEmail" placeholder="Business email" required value="{{current.email}}">
              <p class="help-block col-md-offset-2"></p>
            </li>
            <li style="clear:both">
              <label class="col-md-2 required" for="curPhone1">Preferred Phone:</label> 
              <input class="form-control" id="curPhone1" placeholder="Best Contact Number" required value="{{current.phone1}}">
              <p class="help-block col-md-offset-2"></p>
            </li>
            <li style="clear:both">
              <label class="col-md-2 required" for="curAccountName">Organisation:</label> 
              <input class="form-control" id="curAccountName" placeholder="Your organisation's name" required value="{{current.accountName}}">
              <p class="help-block col-md-offset-2"></p>
            </li>
            <li style="clear:both">
              <label class="col-md-2" for="curJobTitle">Job Title:</label> 
              <input class="form-control" id="curJobTitle" placeholder="Job Title" value="{{current.jobTitle}}">
              <p class="help-block col-md-offset-2"></p>
            </li>
            <li style="clear:both">
              <label class="col-md-2" for="license">License</label>
              <textarea class="license form-control" id="license" readonly disabled style="height: 200px">{{licenseTerms()}}</textarea>
              <p class="help-block col-md-offset-2"></p>
            </li>
          </ul>
        </form>
      </div>
      <div class="modal-footer">
        <button id="cancelLicenseForm" type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button id="submitLicenseForm" type="button" class="btn btn-primary" onclick="ractive.agreeLicense()">I Agree</button>
      </div>
    </div>
  </div>
</div>