<header>
  <nav class="navbar navbar-inverse navbar-static-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-poweredby-brand" href="{{context}}/">
          <!--h2 style="margin: 14px; font-size: 1em;">
            <span style="font-style: italic; font-size: 0.7em; color: #9d9d9d; padding-right: 3px;">powered by </span>
            <span style="color: #ec9300; font-size: 1em;">SRP</span>
          </h2-->
        </a>
      </div>
    </div><!-- /.container -->
  </nav>
</header>