<section id="scorecardSect" style="clear: both">
  <h2 class="form" style="height: 60px;">
    <span class="ol-collapse glyphicon glyphicon-triangle-bottom" onclick="ractive.toggleSection($(this).closest('section'))"></span>
    <span>Scorecard</span>
  </h2>
  {{#current.account.customFields.questionnaireSubmitted}}
	  <div id="summarySect" style="clear: both">
		  <h3>Summary</h3>
		  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
		    <table class="table table-striped">
		      <tbody>
		        <tr>
		          <th>Company Name</th>
		          <td>{{current.account.name}}</td>
		        </tr>
		        <tr>
		          <th>Date Issued</th>
		          <td>{{current.account.customFields.questionnaireSubmitted}}</td>
		        </tr>
		        <tr>
		          <th>Reporting Period</th>
		          <td>{{current.account.customFields.reportingPeriod}}</td>
		        </tr>
		      </tbody>
		    </table>
		  </div>
		  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
		    <!-- <img src="/images/mock/summary.png" alt="Summary scores for Environment, Social and Governance"/> -->
		    <div id="summaryDonut"></div>
		  </div>
		</div>
	
		<div id="trendSect">
		  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
		    <h3>Sustainability Performance</h3>
		    <table class="table" style="text-align:center;">
		      <tbody>
		        <tr>
		          <td>Air Quality</td>
		          <td>Carbon</td>
		          <td>Food</td>
		          <td>Governance</td>
		        </tr>
		        <tr>
		          <td>{{> scorecardicon { score: current.account.customFields['airQualityScore'] } }}</td>
		          <td>{{> scorecardicon { score: current.account.customFields['carbonScore'] } }}</td>
		          <td>{{> scorecardicon { score: current.account.customFields['foodScore'] } }}</td>
		          <td>{{> scorecardicon { score: current.account.customFields['leadershipScore'] } }}</td>
		        </tr>
		        <tr>
		          <td>Localism</td>
		          <td>Social</td>
		          <td>Supply Chain</td>
		          <td>Tax</td>
		        </tr>
		        <tr>
	            <td>{{> scorecardicon { score: current.account.customFields['localismScore'] } }}</td>
	            <td>{{> scorecardicon { score: current.account.customFields['socialInclusionScore'] } }}</td>
	            <td>{{> scorecardicon { score: current.account.customFields['supplyChainScore'] } }}</td>
	            <td>{{> scorecardicon { score: current.account.customFields['taxScore'] } }}</td>
	          </tr>
	          <tr>
	            <td>Waste</td>
	            <td>Water</td>
	            <td>&nbsp;</td>
	            <td>&nbsp;</td>
	          </tr>
	          <tr>
	            <td>{{> scorecardicon { score: current.account.customFields['wasteScore'] } }}</td>
	            <td>{{> scorecardicon { score: current.account.customFields['waterScore'] } }}</td>
	            <td>&nbsp;</td>
	            <td>&nbsp;</td>
		        </tr>
		      </tbody>
		    </table>
		  </div>
		  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
			  <h3>Performance Change</h3>
			  <!-- <img src="/images/mock/trend.png" alt="Performance trend over time"/> -->
			  <em>Not enough data yet</em>
			</div>
		</div>

		<div id="carbonSect" style="clear:both">
		  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
		    <h3>Carbon Footprint - Corporate</h3>
		    <!--<img src="/images/mock/carbon-footprint-org.png" alt="Organisational Carbon Footprint"/>-->
		    <div id="carbonFootprintCorporateStackedBar"></div>
		  </div>
		  <!-- <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
		    <h3>Carbon Footprint - Product Summary</h3>
		    <img src="/images/mock/carbon-footprint-product.png" alt="Aggregated footprint across all products"/>
		  </div> -->
		  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
		    <h3>Carbon Intensity - Revenue</h3>
		    <!--img src="/images/mock/carbon-intensity.png" alt="Carbon Intensity compared to sector"/-->
		    <div id="carbonIntensityBar"></div>
		  </div>
		</div>
  {{/}}
  {{^current.account.customFields.questionnaireSubmitted}}
    <p>No disclosure submitted yet</p>
  {{/}}
</section>
