.classpath
.project
.settings/
.springBeans
.DS_Store
*.bak
*.dis
*.log
*.log.*
*/application.properties
**/.*
**/logs/*
target/
workspace.code-workspace

*.ear
*.jar
*.war
*.zip
*.gz
*.tgz
target/
*.class

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
