<section id="currentSect" style="display:none">
  <form class="inline-form form" id="currentForm">
    <h2 class="form-inline">
      {{#current._links.self}}
        <span>Edit </span>
      {{/}}
      {{^current._links.self}}
        <span>Create </span>
      {{/}}
      <span>Intervention Type:</span>
      <span>{{current.name}}</span>
      <span class="pull-right">
        <a class="clickable glyphicon icon-btn kp-icon-remove" aria-hidden="true" on-click="delete(current)" title="Delete this record"></a>
      </span>
    </h2>

    <div class="currentBody col-md-6 col-sm-12 col-xs-12">
      <ul class="form edit-form">
        <li>
          <label class="col-md-4 required">Name:</label>
          <input class="form-control" id="curName" required value="{{current.name}}">
        </li>
        <li>
          <label class="col-md-4">Description:</label>
          <textarea class="form-control" id="curDescription" value="{{current.description}}"></textarea>
        </li>
        <li>
          <label class="col-md-4 required">MACC Status:</label><input class="form-control" id="curStatus" list="status" placeholder="Start typing to filter options" required value="{{current.status}}"/>
          <p class="help-block col-xs-offset-4">Green will be included in MAC Curve; red will not; amber to be determined.</p>
        </li>
        <li>
          <label class="col-md-4">Data Status:</label><input class="form-control" id="curDataStatus" list="status" placeholder="Start typing to filter options" value="{{current.dataStatus}}"/>
          <p class="help-block col-xs-offset-4">Do we have the data to support this intervention?</p>
        </li>
        <li>
          <label class="col-md-4">Analysis Status:</label><input class="form-control" id="curAnalysisStatus" list="status" placeholder="Start typing to filter options" value="{{current.analysisStatus}}"/>
          <p class="help-block col-xs-offset-4">Is the analysis of data for this intervention complete?</p>
        </li>
      </ul>
    </div>
    <div class="currentBody col-md-6 col-sm-12 col-xs-12">
      <ul class="form edit-form">
        <li>
          <label class="col-md-4 required">Classification:</label><input class="form-control" id="curClassification" placeholder="Start typing to filter options" required value="{{current.classification}}"/>
          <p class="help-block col-xs-offset-4">Four levels of classification, select Level 4.</p>
        </li>
        <li>
          <label class="col-md-4">Strategic Focus:</label><input class="form-control" id="curStrategicFocus" readonly disabled value="{{current.strategicFocus}}"/>
          <p class="help-block col-xs-offset-4"></p>
        </li>
        <li>
          <label class="col-md-4">Tactical Driver:</label><input class="form-control" id="curTacticalDriver" readonly disabled value="{{current.tacticalDriver}}"/>
          <p class="help-block col-xs-offset-4"></p>
        </li>
        <li>
          <label class="col-md-4">Sub-category:</label><input class="form-control" id="curOperationalSubCategory" readonly disabled value="{{current.operationalSubCategory}}"/>
          <p class="help-block col-xs-offset-4"></p>
        </li>
      </ul>
    </div>

    <h3 class="form-inline" style="clear:both">Factors affecting this intervention</h3>

    <div class="currentBody col-md-6 col-sm-12 col-xs-12">
      <ul class="form edit-form">
       <!-- <li>
          <label class="col-md-4 required">Modelling Year:</label><input class="form-control" id="curModellingYear" max="2099" min="1970" placeholder="yyyy" required type="number" value="{{current.modellingYear}}"/>
          <p class="help-block col-xs-offset-4">The year this intervention's analysis was last updated.</p>
        </li> -->
        <li>
          <label class="col-md-4 required">Lifetime: </label>
          <div class="input-group">
            <input class="form-control" id="curLifetime" required type="number" value="{{current.lifetime}}">
            <span class="input-group-addon">years</span>
          </div>
          <p class="help-block col-xs-offset-4">No. of years the intervention remains effective for.</p>
        </li>
        <li>
          <label class="col-md-4 required">Lead time:</label>
          <div class="input-group">
            <input class="form-control" data-a-pad="false" id="curLeadTime" max="100" min="0" required type="number" value="{{current.leadTime}}"/>
            <span class="input-group-addon">years</span>
          </div>
          <p class="help-block col-xs-offset-4">Stipulate the number of years before the intervention becomes effective.</p>
        </li>
        <li>
          <label class="col-md-4 required">Uptake:</label>
          <div class="input-group">
            <input class="form-control" id="curUptake" max="100" min="0" type="number" required type="number" value="{{current.uptake}}">
            <span class="input-group-addon">%</span>
          </div>
          <p class="help-block col-xs-offset-4">An estimate of the proportion of organisations likely to be able to benefit from this intervention nationally (between 0 and 100).</p>
        </li>
        <li>
          <label class="col-md-4 required">Scaling: </label>
          <div class="input-group">
            <input class="form-control" id="curScaling" max="100" min="0" type="number" required type="number" step="any" value="{{current.scaling}}">
            <span class="input-group-addon">%</span>
          </div>
          <p class="help-block col-xs-offset-4">Percentage used to scale up this intervention to organisation type level (between 0 and 100).</p>
        </li>
        <li>
          <label class="col-md-4 required">Robustness:</label>
          <div class="input-group">
            <input class="form-control" data-a-pad="false" id="curConfidence" max="100" min="0" required type="number" value="{{current.confidence}}"/>
            <span class="input-group-addon">%</span>
          </div>
          <p class="help-block col-xs-offset-4">How robust is the data behind this intervention (between 0 and 100).</p>
        </li>
        <li>
          <label class="col-md-4 required">Cross-org'n:</label>
          <input class="form-control" data-a-pad="false" id="curCrossOrganisation" type="checkbox" checked="{{current.crossOrganisation}}"/>{{#current.crossOrganisation==true}} Yes{{/}}
          <p class="help-block col-xs-offset-4">Check if this intervention requires cross-organisational co-ordination / commissioning.</p>
        </li>
      </ul>
    </div>
    <div class="currentBody col-md-6 col-sm-12 col-xs-12">
      <ul class="form edit-form">
        <li>
          <label class="col-md-4 required">Unit:</label>
          <input class="form-control" data-a-pad="false" id="curUnit" value="{{current.unit}}"/>
          <p class="help-block col-xs-offset-4">Depending on the intervention what is the best unit to count e.g. number of staff, number of prescriptions etc.</p>
        </li>
        <li>
          <label class="col-md-4 required">Unit Count:</label>
          <input class="autoNumeric form-control" data-a-pad="false" id="curUnitCount" required value="{{current.unitCount}}"/>
          <p class="help-block col-xs-offset-4">The number of the defined unit there are nationally.</p>
        </li>
        <li>
          <label class="col-md-4">Unit Explanation:</label>
          <textarea class="form-control" id="curUnitDescription" value="{{current.unitDescription}}"></textarea>
        </li>
        <li>
          <label class="col-md-4" for="overlappingInterventionList">Overlaps:</label>
          <select class="form-control" id="overlappingInterventionList" multiple size="5" value="{{current.overlappingInterventionList}}">
            {{#interventionTypes}}
              <option value="{{name}}">{{name}}</option>
            {{/}}
          </select>
          <p class="help-block col-xs-offset-4">Select interventions that can affect this one if both are implemented</p>
        </li>
      </ul>
    </div>
    <div class="currentBody col-md-6 col-sm-12 col-xs-12">
      <ul class="form edit-form">
      </ul>
    </div>

    <h3 class="form-inline" style="clear:both">Impacts</h3>
       <div class="currentBody col-md-6 col-sm-12 col-xs-12">
     <ul class="form edit-form">
       <li>
         <label class="col-md-4 required">Capital costs:</label>
         <input class="autoNumeric form-control" data-a-sign="£ " data-a-pad="false" data-v-min="-9999999999999" id="curCashOutflowsUpFront" required value="{{current.cashOutflowsUpFront}}"/>
         <p class="help-block col-xs-offset-4">Initial up-front costs.</p>
        </li>
        <li>
          <label class="col-md-4 required">Cash outflows p.a:</label>
          <div class="input-group">
            <input class="autoNumeric form-control" data-a-sign="£ " data-a-pad="false" data-v-min="-9999999999999" id="curAnnualCashOutflows" required value="{{current.annualCashOutflows}}"/>
            <span class="clickable input-group-addon" aria-hidden="true" data-toggle="modal" data-target="#timeSeriesModal" on-click="initTimeSeries('annualCashOutflows','ongoingCashOutflows','upFront')">
              <span class="glyphicon icon-btn glyphicon-resize-full"></span>
            </span>
          </div>
          <p class="help-block col-xs-offset-4">Ongoing annual cash outflows over lifetime, excluding front-loaded capital costs.</p>
        </li>
        <!-- <li>
          <label class="col-md-4">Cash outflows:</label>
          <input class="autoNumeric form-control" data-a-sign="£ " data-a-pad="false" data-v-min="-9999999999999" disabled id="curOngoingCashOutflows" readonly value="{{current.annualCashOutflows*current.lifetime}}"/>
          <p class="help-block col-xs-offset-4">Total ongoing annual cash outflows over lifetime, excluding front-loaded capital costs.</p>
        </li> -->
        <li>
          <label class="col-md-4">Total cash out:</label>
          <input class="autoNumeric form-control" data-a-sign="£ " data-a-pad="false" data-v-min="-9999999999999" disabled id="curTotalCashOutflows" readonly value="{{current.totalCashOutflows}}"/>
          <p class="help-block col-xs-offset-4">Cash outflows over lifetime, including up front and recurring annual amounts. Adjusted for uptake.</p>
        </li>
        <li>
          <label class="col-md-4 required">Cash inflows p.a:</label>
          <div class="input-group">
            <input class="autoNumeric form-control" data-a-sign="£ " data-a-pad="false" data-v-min="-9999999999999" id="curAnnualCashInflows" required value="{{current.annualCashInflows}}"/>
            <span class="clickable input-group-addon" aria-hidden="true" data-toggle="modal" data-target="#timeSeriesModal" on-click="initTimeSeries('annualCashInflows','average')">
              <span class="glyphicon icon-btn glyphicon-resize-full"></span>
            </span>
          </div>
          <p class="help-block col-xs-offset-4">Annual cash inflows.</p>
        </li>
        <li>
          <label class="col-md-4">Total cash inflows:</label>
          <input class="autoNumeric form-control" data-a-sign="£ " data-a-pad="false" data-v-min="-9999999999999" disabled id="curCashInflows" readonly value="{{current.totalCashInflows}}"/>
          <p class="help-block col-xs-offset-4">Cash inflows over lifetime, typically recurring annual amounts. Adjusted for uptake.</p>
        </li>
        <li>
          <label class="col-md-4">Total NPV:</label>
          <input class="autoNumeric form-control" data-a-sign="£ " data-a-pad="false" data-v-min="-9999999999999" disabled id="curTotalNpv" readonly value="{{current.totalNpv}}"/>
          <p class="help-block col-xs-offset-4">Total of cash inflows and outflows expressed in today's prices.</p>
        </li>
        <!-- <li>
          <label class="col-md-4">Cash Savings p.a:</label>
          <input class="autoNumeric form-control" data-a-sign="£ " data-a-pad="false" id="curFinancialSavings" disabled readonly value="{{current.meanCashInflows}}"/>
          <p class="help-block col-xs-offset-4">Average Financial Savings per annum over lifetime.</p>
        </li> -->
      </ul>
    </div>
    <div class="currentBody col-md-6 col-sm-12 col-xs-12">
      <ul class="form edit-form">
        <li>
          <label class="col-md-4" for="annualGasSaved">Gas savings p.a:</label>
          <div class="input-group">
            <input class="form-control" id="curAnnualGasSaved" type="number" value="{{current.annualGasSaved}}">
            <span class="input-group-addon">kWh</span>
          </div>
          <p class="help-block col-xs-offset-4">If specified, costs will be take account of future gas price predictions</p>
        </li>
        <li>
          <label class="col-md-4" for="annualElecSaved">Elec. savings p.a:</label>
          <div class="input-group">
            <input class="form-control" id="curAnnualElecSaved" type="number" value="{{current.annualElecSaved}}">
            <span class="input-group-addon">kWh</span>
          </div>
          <p class="help-block col-xs-offset-4">If specified, costs will be take account of future electricity price predictions</p>
        </li>
        <li>
          <label class="col-md-4 required">tCO<sub>2</sub>e saved p.a:</label>
          <div class="input-group">
            <input class="autoNumeric form-control" data-a-pad="false" id="curAnnualTonnesCo2eSaved" required value="{{current.annualTonnesCo2eSaved}}"/>
            <span class="clickable input-group-addon" aria-hidden="true" data-toggle="modal" data-target="#timeSeriesModal" on-click="initTimeSeries('annualTonnesCo2eSaved','average')">
              <span class="glyphicon icon-btn glyphicon-resize-full"></span>
            </span>
          </div>
          <p class="help-block col-xs-offset-4">Annual amount for CO<sub>2</sub>e being saved, in tonnes. Before uptake and scaling applied.</p>
        </li>
        <li>
          <label class="col-md-4">tCO<sub>2</sub>e saved:</label>
          <input class="autoNumeric form-control" data-a-pad="false" disabled id="curTonnesCo2eSaved" readonly value="{{current.totalTonnesCo2eSaved}}"/>
          <p class="help-block col-xs-offset-4">Total amount for CO<sub>2</sub>e equivalent being saved, in tonnes.</p>
        </li>
        <li class="alert-success">
          <label class="col-md-4">tCO<sub>2</sub>e saved 2020:</label>
          <input class="autoNumeric form-control" data-a-pad="false" disabled id="curTonnesCo2eSavedInTargetYear" readonly value="{{current.tonnesCo2eSavedTargetYear}}"/>
          <p class="help-block col-xs-offset-4">Annual amount for CO<sub>2</sub> equivalent being saved, in tonnes. Forms the x-axis of Mac Curves.</p>
        </li>
        <li class="alert-success">
          <label class="col-md-4">MAC (£/tCO<sub>2</sub>e):</label>
          <input class="autoNumeric form-control" data-a-sign="£ " data-a-pad="false" data-v-min="-9999999999999" disabled id="curCostPerTonneCo2e" readonly required value="{{current.costPerTonneCo2e}}"/>
          <p class="help-block col-xs-offset-4">Marginal abatement cost is the price in pounds of each tonne of CO<sub>2</sub> saved, in today's prices. Forms the y-axis of Mac Curves.</p>
        </li>
      </ul>
    </div>

    <h3 class="form-inline" style="clear:both">Additional information</h3>

    <div class="currentBody col-md-6 col-sm-12 col-xs-12">
      <ul class="form edit-form">
        <li>
          <label class="col-md-4 required">Further Info:</label>
          <div class="input-group">
            <input class="form-control" id="curFurtherInfo" type="url" value="{{current.furtherInfo}}"/>
            <span class="input-group-addon">
              <a href="{{current.furtherInfo}}" target="_newtab"><span class="glyphicon icon-btn glyphicon-new-window"></span></a>
            </span>
          </div>
          <p class="help-block col-xs-offset-4">This URL will contain explanation of how the calculations where performed and links to the original source material</p>
        </li>
        <li>
          <label class="col-md-4">Note:</label>
          <textarea class="form-control" id="curNote" value="{{current.note}}"></textarea>
        </li>
      </ul>
    </div>

  </form>



</section>
