<section style="clear:both">
  <div class="col-md-12">
    <table id="resultTable" class="table table-striped">
      <thead>
        <tr>
          <th colspan="3"></th>
          <th class="col-md-1 alert-warning" colspan="3">Financial</th>
          <th class="col-md-1 alert-success" colspan="2">Carbon</th>
        </tr>
        <tr>
          <th></th>
          <!--<th on-click="sort:classification">Type<span class="sortable {{ sorted('classification') }} glyphicon icon-btn "></span></th>-->
          <th class="col-md-2" on-click="sort:name" style="cursor:pointer;">Name<span class="sortable {{ sorted('name') }} glyphicon icon-btn "></span></th>
          <th class="col-md-4">Description</th>
          <th class="col-md-1 alert-warning" style="cursor:pointer;text-align:center" on-click="sort:cashOutflowsUpFront">£{{#display000s==true}}000{{/}}s capital costs <span class="sortable {{ sorted('cashOutflowUpFront') }} glyphicon icon-btn "></span></th>
          <th class="col-md-1 alert-warning" style="cursor:pointer;text-align:center" on-click="sort:annualCashOutflowsTargetYear">£{{#display000s==true}}000{{/}}s costs in {{parameters.targetYear}}<span class="sortable {{ sorted('annualCashOutflowsTargetYear') }} glyphicon icon-btn "></span></th>
          <th class="col-md-1 alert-warning" style="cursor:pointer;text-align:center" on-click="sort:annualCashInflowsTargetYear">£{{#display000s==true}}000{{/}}s saved in {{parameters.targetYear}}<span class="sortable {{ sorted('annualCashInflowsTargetYear') }} glyphicon icon-btn "></span></th>
          <th class="col-md-1 alert-success" style="cursor:pointer;text-align:center" on-click="sort:costPerTonneCo2e">£ / tCO<sub>2</sub>e<span class="sortable {{ sorted('costPerTonneCo2e') }} glyphicon icon-btn "></span></th>
          <th class="col-md-1 alert-success" style="cursor:pointer;text-align:center" on-click="sort:tonnesCo2eSavedTargetYear">tCO<sub>2</sub>e saved in {{parameters.targetYear}}<span class="sortable {{ sorted('tonnesCo2eSavedTargetYear') }} glyphicon icon-btn "></span></th>
          <th class="col-md-1">Further info</th>
        </tr>
      </thead>
      <tbody>
        {{#each sort(interventions,sortColumn,sortAsc):i}}
          <tr data-type="{{slug}}" data-id="{{selfRef}}" onclick="$(this).next().slideToggle()" style="cursor:pointer;">
            <td>{{i+1}}</td>
            <!-- <td>{{classification}}</td>-->
            <td class="col-md-2">
              <a href="#{{slug}}Rect" onclick="ractive.select('{{slug}}Rect')">{{name}}</a><br/>
            </td>
            <td class="col-md-4">
              <p>{{description}}</p>
              <p>
                {{#active == 'planner'}}
                  <small>Scaled in proportion to {{unit}}: {{unitCount.sigFigs(3)}}{{#userDefined}} *{{else}} †{{/}}</small>
                {{/}}
                <small class="clickable">How did we calculate these numbers?</small>
              </p>
            </td>
            {{#active == 'maccNational'}}
              <td class="col-md-1 alert-warning" style="text-align:right">{{formatForDomain(cashOutflowsUpFrontNational)}}</td>
              <td class="col-md-1 alert-warning" style="text-align:right">{{formatForDomain(annualCashOutflowsNationalTargetYear)}}</td>
              <td class="col-md-1 alert-warning" style="text-align:right">{{formatForDomain(annualCashInflowsNationalTargetYear)}}</td>
            {{else}}
              <td class="col-md-1 alert-warning" style="text-align:right">{{formatForDomain(cashOutflowsUpFront)}}</td>
              <td class="col-md-1 alert-warning" style="text-align:right">{{formatForDomain(annualCashOutflowsTargetYear)}}</td>
              <td class="col-md-1 alert-warning" style="text-align:right">{{formatForDomain(-annualCashInflowsTargetYear)}}</td>
            {{/}}
            <td class="col-md-1 alert-success" style="text-align:right">{{costPerTonneCo2e.sigFigs(3)}}</td>
            <td class="col-md-1 alert-success" style="text-align:right">{{tonnesCo2eSavedTargetYear.sigFigs(3)}}</td>
            <td class="col-md-1">
              {{#furtherInfo}}
                <a href="{{furtherInfo}}" target="_newtab"><span class="glyphicon icon-btn glyphicon-new-window"></span>
              {{/}}
            </td>
          </tr>
          <tr class="workings" style="display:none">
            <td></td>
            <td style="vertical-align:top"><h4>How did we calculate these numbers?</h4></td>
            <td colspan="6">
              {{>workings}}
            </td>
          </tr>
        {{/each}}
        {{#active == 'planner' && showAddUserIntervention==true}}
          <tr>
            <td></td>
            <td><span class="glyphicon icon-btn kp-icon-plus" on-click="showUserInterventionModal()"></span></td>
            <td>Add your own intervention</td>
          </tr>
        {{/}}
      </tbody>
      <tfoot>
        <tr>
          <th></th>
          <th colspan="2">Total</th>
          {{#active == 'maccNational'}}
            <th style="text-align:right">{{ formatForDomain(sum('cashOutflowsUpFrontNational')) }}</th>
            <th style="text-align:right">{{ formatForDomain(sum('annualCashOutflowsNationalTargetYear')) }}</th>
            <th style="text-align:right">{{ formatForDomain(sum('annualCashInflowsNationalTargetYear')) }}</th>
          {{else}}
            <th style="text-align:right">{{ formatForDomain(sum('cashOutflowsUpFront')) }}</th>
            <th style="text-align:right">{{ formatForDomain(sum('annualCashOutflowsTargetYear')) }}</th>
            <th style="text-align:right">{{ formatForDomain(sum('annualCashInflowsTargetYear')) }}</th>
          {{/}}
          <th style="text-align:right">&nbsp;</th>
          <th style="text-align:right">{{ formatForDomain(sum('tonnesCo2eSavedTargetYear')) }}</th>
          <th>&nbsp;</th>
        </tr>
      </tfoot>
    </table>
    {{#active == 'planner'}}
      <p><small>* default data <br/>† user-supplied data</small></p>
    {{/}}
  </div>
</section>
