<section>
  <h2>National carbon cost benefit curve</h2>
  <p>This MAC curve contains the national data across the NHS and Social Care system.</p>
  <!--p>There are overlapping interventions shown in the curve, further detailed 
  analysis would be needed to understand the magnitude of the overlap. Below 
  follows a list of the interventions affected and the interventions that 
  overlaps with each.</p>
  {{{haveOverlaps(interventions)}}}-->
</section>

<section>
  <div class="col-md-12">
  </div>
</section>
