<div class="profile pull-right">
  <form name="logoutForm" action="{{context}}/logout" method="POST">
    {{#if matchRole('super_admin')}}
      <select class="super-admin tenant" on-change="switchToTenant()">
        {{#profile.allowedTenantsAsList}}
          <option value="{{.}}" {{#if . == tenant.id}}selected{{/if}}>{{.}}</option>
        {{/}}
      </select>
    {{/if}}
    <a href="/srp/me.html" title="To set your profile picture, please visit gravatar.com">
      <span class="profile-img">{{username}}</span>
    </a>
    <a class="clickable glyphicon icon-btn glyphicon-log-out logout" aria-hidden="true" on-click="logout()"></a>
    <a class="clickable glyphicon icon-btn kp-icon-question-sign" aria-hidden="true" data-toggle="modal" data-target="#helpModal"></a>
  </form>
</div>
