<div class="omny-burger navbar-side" on-click="toggleSidebar()">
  <span class="clickable glyphicon icon-btn kp-icon-menu" title="{{title}}"></span>
</div>
<div class="omny-bar {{#profile.omnyBarPosition}}omny-bar-{{profile.omnyBarPosition}}{{/}} {{^profile.omnyBarPosition}}omny-bar-left{{/}}">
  <ul>
    <li>
      <span class="clickable glyphicon icon-btn kp-icon-menu" on-click="toggleSidebar()" title="{{title}}"></span>
    </li>
    {{#tenant.toolbar}}
      {{#if matchRole(role) }}
        <li class="page"><a href="{{context}}{{url}}">
          <span class="glyphicon icon-btn {{icon}} {{#active==url}}active{{/}}" title="{{title}}"></span>
        </a></li>
      {{/if}}
    {{/}}
    <li class="powered-by-icon">
      {{#if window.location.host == 'srp.digital'}}
        <img src="/srp/2.0.0/images/icon/srp-icon-32x32.png" alt="Sustainable Resource Planning&trade;">
      {{else}}
        <a href="/about.html" title="Terms of Service and Privacy Policy">
          <img class="img-rounded" src="https://api.knowprocess.com/images/icon/knowprocess-icon-48x48.png" alt="Know Process&trade;">
        </a>
      {{/if}}
    </li>
  </ul>
</div>
