<div class="modal fade" id="timeSeriesModal" tabindex="-1" role="dialog" aria-labelledby="timeSeriesModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="timeSeriesModalLabel">Time Series for {{timeSeriesField.toLabel()}}</h4>
      </div>
      <div class="modal-body">
        <table class="table table-striped">
          <tbody>
            {{#current[timeSeriesField+'TimeSeries']:idx}}
              <tr><th class="col-lg-1">{{current.modellingYear+idx}}</th><td class="col-lg-4"><input class="form-control" type="number" value="{{.}}"/></td></tr>
            {{/}}
          </tbody>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" on-click="updateTimeSeriesSummary()">Save</button>
      </div>
    </div>
  </div>
</div>