<form class="form-horizontal" id="optionsForm" style="position:relative;top:10px;padding-bottom:10px;">
  <section>
    <div class="col-md-6 col-sm-12">
      <h3>Graph Options</h3>
      <fieldset>
        <ul class="form" id="dataSetSelectors">
          <li>
            <label class="col-md-4 col-sm-3" style="cursor: default; margin:5px;">Scale:</label>
            {{#scaleTypes:idx}}
              <input class="" type="radio" id="scaleType" onclick="ractive.setScaleFunc({{idx}})" name="scaleType" {{#idx==0}} checked {{/}} value="{{idx}}">
              <label class="radio-inline" for="scaleType">{{name}}</label>
            {{/}}
          </li>
          <li style="clear:both">
            <label class="col-md-4 col-sm-3">Y-Axis Upper Limit:</label>
            <input class="form-control" type="number" id="yPosLimit" name="yPosLimit" value="{{yPosLimit}}">
          </li>
          <li style="clear:both">
            <label class="col-md-4 col-sm-3">Y-Axis Lower Limit:</label>
            <input class="form-control" type="number" id="yNegLimit" name="yNegLimit" value="{{yNegLimit}}">
          </li>
        </ul>
      </fieldset>
    </div>
    <div class="col-md-6 col-sm-12">
      <h3>Legend</h3>
      <fieldset>
        <ul class="form" id="dataSetSelectors">
          <li>
            <label class="col-md-4 col-sm-3">Robustness:</label>
            <span style="background-color:rgb(0,114,0);padding:10px 20px"></span>
            <span style="background-color:rgb(0,178,0);padding:10px 20px"></span>
            <span style="background-color:rgb(0,255,0);padding:10px 20px"></span>
            <p class="col-md-offset-4 col-sm-offset-3 help-block">Increasing robustness »</p>
          </li>
        </ul>
      </fieldset>
    </div>
  </section>
</form>
