  <div class="col-md-4 col-sm-12">     
    <div class="form-group">
      <label for="exampleInputEmail1">Patient miles</label>
      <input type="text" class="form-control" id="patientMiles" placeholder="Patient miles">
    </div>
    <div class="form-group">
      <label for="exampleInputEmail1">Visitor miles</label>
      <input type="text" class="form-control" id="visitorMiles" placeholder="Visitor miles">
    </div>
    <div class="form-group">
      <label for="exampleInputEmail1">Staff miles</label>
      <input type="text" class="form-control" id="staffMiles" placeholder="Staff miles">
    </div>
  </div>
  <div class="col-md-4 col-sm-12">     
    <div class="form-group">
      <label for="wasteToIncineration">Waste to incineration</label>
      <input type="text" class="form-control" id="wasteToIncineration" placeholder="Tonnes per annum">
    </div>
    <div class="form-group">
      <label for="wasteToLandfill">Waste to landfill</label>
      <input type="text" class="form-control" id="wasteToLandfill" placeholder="Tonnes per annum">
    </div>
    <div class="form-group">
      <label for="wasteRecycled">Waste recycled</label>
      <input type="text" class="form-control" id="wasteRecycled" placeholder="Tonnes per annum">
    </div>
  </div>
  <div class="col-md-4 col-sm-12">     
    <div class="form-group">
      <label for="electricityConsumption">Electricity consumption</label>
      <input type="text" class="form-control" id="electricityConsumption" placeholder="Units">
    </div>
    <div class="form-group">
      <label for="gasConsumption">Gas consumption</label>
      <input type="text" class="form-control" id="gasConsumption" placeholder="Units">
    </div>
    <div class="form-group">
      <label for="otherFuelConsumption">Other fuel consumption</label>
      <input type="text" class="form-control" id="otherFuelConsumption">
    </div>
    <div class="form-group">
      <label for="waterConsumption">Water consumption</label>
      <input type="text" class="form-control" id="waterConsumption" placeholder="Kilolitres">
    </div>
  </div>