<div id="result"></div>
  
<div class="hidden macc-tooltip col-md-4 col-sm-6 col-xs-8">
  <form class="form-horizontal">
    <ul>
      <li><label>Name</label><span id="name">n/a</span>
      <li><label>Cost per tonne CO2</label><span class="autoNumeric" data-a-sign="£ " data-a-pad="false" id="cost">n/a</span>
      <li><label>Predicted saving CO2</label><span class="autoNumeric" data-a-pad="false" id="savings">n/a</span>
      <li><label>Robustness</label><span id="confidence">n/a</span>
    </ul>
  </form>
</div>
