<section id="carbonFootprintSect" class="rpt section">
  <h2>Modelled Carbon Footprint <a href="#contentSect" class="govuk-back-link">Back to top</a></h2>

  <section id="nonProcurementCarbonProfileSect" style="clear:both">
    <h3>NHS Carbon footprint<a href="#contentSect" class="govuk-back-link">Back to top</a></h3>
    <div class="rpt table2" id="eclassRptTable2" data-total="true" data-qs="OWNED_BUILDINGS_COAL,NET_ELEC_CO2E,OWNED_BUILDINGS_GAS,OWNED_BUILDINGS_OIL,NET_THERMAL_ENERGY_CO2E,LEASED_ASSETS_ENERGY_USE,BIZ_MILEAGE_CO2E,ANAESTHETIC_GASES_CO2E,WASTE_AND_WATER_CO2E" data-periods="4"
         data-share="http://localhost:8083/reports/{{formatAnswer('ORG_CODE')}}/{{surveyReturn.applicablePeriod}}/eclass-carbon-profile.html"></div>
  </section>
  <section id="eclassCarbonProfileSect" class="col-md-6 col-xs-12" style="clear:both">
    <h3>E-Class procurement Carbon profile <a href="#contentSect" class="govuk-back-link">Back to top</a></h3>
    <p>Calculated from the e-class spend you entered, which totalled
		<em>&pound; {{formatDecimalAnswer('ECLASS_SPEND', period, 0)}}{{#if haveAnswer('ECLASS_SPEND')}},000{{else}}0{{/if}}</em> in the current year.<br/><br/>
    </p>
    <p>CO<sub>2</sub> Emissions (tCO<sub>2</sub>e)</p>
    <div class="rpt table2" id="eclassRptTable2" data-total="true" data-qs="EC_MEDICINES_AND_CHEMICALS_CO2E,EC_MEDICAL_EQUIPMENT_CO2E,EC_NON_MEDICAL_EQUIPMENT_CO2E,EC_BUSINESS_SERVICES_CO2E,EC_CONSTRUCTION_AND_FREIGHT_CO2E,EC_FOOD_AND_CATERING_CO2E,EC_COMMISSIONED_HEALTH_SERVICES_CO2E" data-periods="4"
         data-share="http://localhost:8083/reports/{{formatAnswer('ORG_CODE')}}/{{surveyReturn.applicablePeriod}}/eclass-carbon-profile.html"></div>
  </section>
  <section id="sduCarbonProfileSect" class="col-md-6 col-xs-12">
    <h3>SDU procurement Carbon profile <a href="#contentSect" class="govuk-back-link">Back to top</a></h3>
    <p>Calculated from operating expenditure of <em>&pound; {{formatAnswer('OP_EX')}},000</em> of which <em>&pound; {{formatAnswer('NON_PAY_SPEND')}},000</em> is non-pay spend based on typical values for an {{formatAnswer('ORG_TYPE')}} organisation.</p>
    <p>CO<sub>2</sub> Emissions (tCO<sub>2</sub>e)</p>
<div class="rpt table2" id="sduProfileRptTable2" data-total="true" data-qs="SDU_MEDICINES_AND_CHEMICALS_CO2E,SDU_MEDICAL_EQUIPMENT_CO2E,SDU_NON_MEDICAL_EQUIPMENT_CO2E,SDU_BUSINESS_SERVICES_CO2E,SDU_CONSTRUCTION_AND_FREIGHT_CO2E,SDU_FOOD_AND_CATERING_CO2E,SDU_COMMISSIONED_HEALTH_SERVICES_CO2E,SDU_WATER_CO2E,SDU_WASTE_CO2E,SDU_BUSINESS_TRAVEL_AND_FLEET_CO2E" data-periods="4"
     data-share="http://localhost:8083/reports/{{formatAnswer('ORG_CODE')}}/{{surveyReturn.applicablePeriod}}/sdu-carbon-profile.html"></div>
  </section>
  <section id="remainingCarbonProfileSect" style="clear:both">
    <h3>Commissioning and community Carbon profile<a href="#contentSect" class="govuk-back-link">Back to top</a></h3>
    <div class="rpt table2" id="eclassRptTable2" data-total="true" data-qs="PATIENT_AND_VISITOR_MILEAGE_CO2E,STAFF_COMMUTE_MILES_CO2E,TOTAL_COMMISSIONING_CO2E" data-periods="4"
         data-share="http://localhost:8083/reports/{{formatAnswer('ORG_CODE')}}/{{surveyReturn.applicablePeriod}}/eclass-carbon-profile.html"></div>
  </section>
</section>
