<table>
  <tbody>
    <tr><th>Status: </th><td>{{surveyReturn.status}}</td></tr>
    <tr><th>Period: </th><td>{{surveyReturn.applicablePeriod}}</td></tr>
    <tr><th>Revision: </th><td>{{surveyReturn.revision}}</td></tr>
    <tr><th>Created: </th><td>{{formatDateTime(surveyReturn.created)}}</td></tr>
    <tr><th>Updated: </th><td>{{formatDateTime(surveyReturn.lastUpdated)}}</td></tr>
    <tr><th>Submitted: </th><td>{{#surveyReturn.submittedDate}}{{formatDateTime(surveyReturn.submittedDate)}}{{else}}n/a <em>Will be submitted automatically on 1st Oct</em>{{/}}</td></tr>
    <tr><th>Submitted By: </th><td>{{#surveyReturn.submittedBy}}{{surveyReturn.submittedBy}}{{else}}n/a{{/}}</td></tr>
    <tr class="no-print"><th>Actions: </th>
      <td>
        <button class="btn btn-calc" disabled on-click="calculate()" title="Calculate, or re-calculate, responses base on the latest data supplied">
          <span class="glyphicon glyphicon glyphicon-stats"></span> Calculate</button>
        <button class="btn btn-refresh" disabled on-click="fetch()" title="Refresh this report to pick up the latest answers">
          <span class="glyphicon glyphicon kp-icon-refresh"></span> Refresh</button>
        <button class="btn btn-submit" disabled
                data-toggle="modal" data-target="#myModal"
                title="Lock all answers and notify your return is ready for review">
          <span class="glyphicon glyphicon glyphicon-send"></span> Submit</button>
        <button class="btn btn-restate" disabled on-click="restate()" title="Creates a new revision of your return and permits it to be edited">
          <span class="glyphicon glyphicon kp-icon-repeat"></span> Restate</button>
        <a class="" href="#" target="_blank" title="Open the report in its own window or tab">
          <button class="btn btn-new-tab" style="color:#333">
            <span class="glyphicon glyphicon kp-icon-new-tab"></span> New tab</button>
        </a>
      </td>
    </tr>
  </tbody>
</table>

<div class="save-indicator">
  <span class="save-indicator-animation glyphicon glyphicon-save"></span>
</div>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Submit sustainability return</h4>
      </div>
      <div class="modal-body">
        <p>Once you are completely sure you are ready to submit your return to
          the SDU, please click submit below.
        </p>
        <p>Currently you have:</p>
        <ul>
          <li class="requiredHeaderInfo">{{#surveyReturn.completeness.missingRequired.length>0}}<span class="alert-danger">Not</span> c{{else}}C{{/}}ompleted the essential policy and performance questions and basic identification information about your organisation.</li>
          <li class="proportionCoreComplete">Completed <span class="answeredCoreQs">{{surveyReturn.completeness.answeredCoreQs}}</span> out of a possible total of <span class="coreQs">{{surveyReturn.completeness.coreQs}}</span> <em>core</em> questions.</li>
          <li class="proportionComplete">Completed <span class="answeredQs">{{surveyReturn.completeness.answeredQs}}</span> out of a possible total of <span class="qs">{{surveyReturn.completeness.qs}}</span> questions (across the last 4 years).</li>
          <li class="minimumPeriods">{{#surveyReturn.completeness.periods.length<4}}<span class="alert-danger">Not</span> p{{else}}P{{/}}rovided data in each of the latest 4 years.</li>
        </ul>
        <p>
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" on-click="submit()">Submit</button>
      </div>
    </div>
  </div>
</div>
