<section id="currentUserExtendedSect">
  <div class="currentBody col-md-6 col-sm-12 col-xs-12">
    <ul class="form edit-form">
      <li class="form-group">
        <label class="col-md-4 col-sm-4">{{#tenant.strings.org}}{{tenant.strings.org}}{{else}}{{Organisation}}{{/}}:</label>
      	<select class="form-control" id="curOrg"></select>
        <p class="col-md-offset-4 col-sm-offset-4 help-block">{{tenant.strings.orgHint}}</p>
      </li>
    </ul>
  </div>
  <div class="currentBody col-md-6 col-sm-12 col-xs-12">
    <ul class="form edit-form">
    </ul>
  </div>
</section>
<script src="/srp/vsn/js/user-ext.js"></script>
