/* FONTS */
@import url('//fonts.googleapis.com/css?family=Roboto:400italic,400,700');
@import url('//fonts.googleapis.com/css?family=Ubuntu:400italic,400,700');

@import url('//api.knowprocess.com/webjars/knowprocess-icons/3.0.0/style.css ');
/* END FONTS */

/*
 * COLOURS
 *   orange: ec9300;
 *   blue:   0060ad;
 *   light blue: #0e9acd;
 *   grey:   (TBC) 949699;
 */

/* START BOOTSTRAP OVERRIDES */

body {
  font-family: Roboto, sans-serif;
}
h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
  font-family: Ubuntu, sans-serif;
  margin-bottom: 15px;
}
.workings h4 {
  border-bottom: none;
}
figure {
  text-align: center;
}
.navbar-static-bottom, .footer-widget-area {
  border-top-color: #ec9300;
  margin-bottom: 0;
}
.navbar-static-top {
  border-bottom-color: #ec9300;
}
section h2 .search {
  /*margin-bottom: 10px;*/
  margin-right: 0;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  border-color: #0060ad;
  height: 32px;
  position: relative;
  bottom: 5px;
}
section h2 .kp-icon-search {
  margin-left: 0px;
  border-left:none;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  position: relative;
  height: 32px;
  bottom: 5px;
}
small {
  font-size: 75%;
}
#messages p {
  line-height: 3em;
  padding-left: 20px !important;
  font-style: italic;
}
.btn.importEric > .glyphicon {
  padding-left:6px;
}
.help-block {
  font-style: italic;
}
.navbar-brand {
  padding-top: 0;
  position: relative;
  top: -26px;
}
.navbar.navbar.navbar-fixed-top {
  border-bottom-color: #ec9300;
  height: 40px;
}
.navbar.navbar-fixed-bottom, .footer-widget-area {
  border-top-color: #ec9300;
  font-size:14px;
  line-height: 1em;
}
.navbar.navbar-fixed-bottom p {
  line-height: 1em;
}
.site-sub-footer {
  color: #efefef;
  font-size: 12px;
  padding: 10px 30px;
}
.table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td {
  vertical-align: middle;
}
th {
  font-weight: bold;
}
.kp-icon-search {
  font-size: 20px;
  border: solid 1px;
  padding: 6px;
  margin: 3px;
  border-bottom-right-radius: 15px;
  border-top-right-radius: 15px;
}
.navbar-brand img {
  height: 80px;
  margin-top: 10px;
}
.rpt .controls {
  z-index: 1000;
  position: absolute;
  right: 50px;
}
.rpt .controls .icon-btn {
  border: 1px solid #ddd;
  background-color: #f9f9f9;
  font-size: 36px;
  padding: 12px
}
.scorecardicon {
  font-size: 3em;
  color: #ec9300;
}
.search {
  border-radius:15px;
  width:100px;
  display:inline;
  position:relative;
  bottom:5px;
}
.text-danger {
  font-style: italic;
}
/* END BOOTSTRAP OVERRIDES */

#ajax-loader {
  left: 45%;
  position: fixed;
  top: 45%;
}
#ajax-loader img.ajax-loader {
  position: fixed;
  left: 55%;
  width: 80px;
  z-index: 200;
}

.ajax-loader {
  animation-name: spin;
  animation-duration: 4000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
@keyframes blinker {
  50% { opacity: 0; }
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  } to {
    transform: rotate(360deg);
  }
}
.clickable:focus,
.clickable:hover,
a.glyphicon:focus,
a.glyphicon:hover,
h2 a.glyphicon:focus,
h2 a.glyphicon:hover {
  color: #ec9300;
	cursor: pointer;
}
form .criteria {
  width: 100%;
}
form .criteria input {
  margin: 2px 3px;
}
.form {
	display: block;
	list-style: none;
}
.form li {
	margin: 5px 0 5px;
}
/* Override Bootstrap #125 */
.form#questionnaireForm li label {
  display: block;
  margin: 5px 0 5px;
 }
.form label.required::after {
  color: red;
  content: '*';
}
.form input[type='radio'] {
  display: inline-block;
  top: 4px;
}
.form input {
  margin-left: 0px;
}
.form.create-form {
  padding-bottom: 2px;
}
.navbar-sticky {
  position:fixed;
  top: 0;
  width:83% /* equiv of col-10 */
}
.navbar-sticky .profile {
  top: -32px;
}
.navbar-sticky .profile-img img {
  margin-top: -6px;
}
.number {
  text-align: right;
  width: 8em;
}
.omny-bar-left li span:not(.active):not(:active):not(:hover),
.omny-bar li span:not(.active) {
  border-bottom-color: #ec9300;
}
.omny-bar li span.glyphicon:hover,
.omny-bar li span.glyphicon:active,
.omny-bar li span.glyphicon.active {
  color: #fcf8e3;
  background-color: #ec9300;
}
.menu-burger,
.omny-burger {
  margin: 4px 5px;
}
.save-indicator-animation {
  animation: blinker 1s linear infinite;
}
.save-indicator {
  display:none;
  font-size: 36px;
  right: 36px;
  position: fixed;
  top: 48%;
}
@keyframes blinker {
  50% { opacity: 0; }
}
.tr-large-icon {
  font-size: 96px;
  color: #ec9300;
  padding: 20px;
}
.tr-large-icon-selected {
  border: double #0060ad 3px;
}

/***************** CHARTS INC MACC *****************/

rect.scorecard.bar:nth-child(odd) {
  fill:#ec9300;
}
rect.charts.bar:nth-child(even) {
  fill:#949699;
}
text {
  fill: #333;
  font-family: Ubuntu, sans-serif;
  font-size: 16px;
/* TODO MACC expects this but SRP not...
  stroke-width: 1px;
  stroke: #333;*/
  shape-rendering: crisp-edges;
}
text.inverse {
  fill: #ccc;
}

#dataSetSelectors .radio-inline {
  display: inline-block;
  margin-right: 20px;
  padding-left: 0;
  padding-top: 4px;
}
.axis path,
.axis .tick line {
  fill:none;
  stroke: #666666;
  shape-rendering: crisp-edges;
}
.axis .tick text {
  font-size:12px;
}
.hidden {
  display:none;
  position:absolute;
}
.legend {
  width: 2em;
}
.core,
.core_co2e_pct,
.owned_buildings_coal,
.elec_co2e,
.elec_renewable_co2e,
.exported_thermal_energy_co2e,
.hot_water_co2e,
.net_elec_co2e,
.owned_buildings_gas,
.owned_buildings_oil,
.owned_vehicles,
.net_thermal_energy_co2e,
.leased_assets_energy_use,
.biz_mileage_co2e,
.biz_mileage_road_co2e,
.biz_mileage_rail_co2e,
.biz_mileage_air_co2e,
.anaesthetic_gases_co2e,
.scope_3_energy_wtt,
.scope_3_waste,
.scope_3_water,
.steam_co2e,
.total_core_co2e,
.waste_and_water_co2e {
  background-color: #a9d156;
  fill: #a9d156;
}
.commissioning_co2e_pct,
.commissioning,
.commissioning_co2e,
.total_commissioning_co2e {
  background-color: #003d61;
  fill: #003d61;
}
.community,
.community_co2e_pct,
.patient_and_visitor_mileage_co2e,
.staff_commute_miles_co2e,
.total_community_co2e {
  background-color: #fbde06;
  fill: #fbde06;
}
.procurement_co2e_pct,
.biz_svcs_co2e,
.capital_co2e,
.construction_co2e,
.catering_co2e,
.freight_co2e,
.ict_co2e,
.chem_and_gas_co2e,
.med_instr_co2e,
.other_manufactured_co2e,
.paper_and_card_co2e,
.pharma_co2e,
.procurement,
.procurement_co2e,
.procurement_2017_co2e_pct,
.provisions_co2e,
.staff_clothing_co2e,
.patients_clothing_and_footwear_co2e,
.pharma_blood_prod_and_med_gases_co2e,
.dressings_co2e,
.medical_and_surgical_equipt_co2e,
.patients_appliances_co2e,
.chemicals_and_reagents_co2e,
.dental_and_optical_equipt_co2e,
.imaging_and_radiotherapy_equipt_and_svcs_co2e,
.lab_equipt_and_svcs_co2e,
.hotel_equipt_materials_and_svcs_co2e,
.bldg_and_eng_prod_and_svcs_co2e,
.purchased_healthcare_co2e,
.gardening_and_farming_co2e,
.furniture_fittings_co2e,
.hardware_crockery_co2e,
.bedding_linen_and_textiles_co2e,
.office_equipt_telco_computers_and_stationery_co2e,
.rec_equipt_and_souvenirs_co2e,
.consulting_svcs_and_expenses_co2e,
.total_procurement_2017_co2e {
  background-color: #007ac3;
  fill: #007ac3;
}
.macc-tooltip {
  border: 1px solid #666666;
  position: absolute;
  height: 130px;
  padding: 5px 5px 5px 0;
  background-color: white;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4); -moz-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4); box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4); pointer-events: none;
}
.macc-tooltip label:after {
  content: ': ';
}
.macc-tooltip li {
  list-style: none;
}
/************* END CHARTS INC MACC *****************/

/********************** START SDGs *****************/
.container-fluid.sdgs .col-xs-2 {
  padding-right: 5px;
  padding-left: 0px;
  padding-bottom: 5px;
}
/********************** END SDGs *******************/

/************* START PRINT MEDIA *******************/
@media print {
  .controls,
  .no-print, .no-print * {
    display: none !important;
  }
}
/************* END PRINT MEDIA *********************/
