<section class="container container-sticky">
  <h2 class="navbar-sticky">
    {{>navbar}}
    {{>profileArea}}
  </h2>
</section>
<section id="answersSect">
  <h2 class="">
    {{>navbar}}
  </h2>
  <table id="answersTable" class="table table-striped">
    <thead>
      <tr>
        <th></th>
        <th on-click="sort:org.name">Org<span class="sortable {{ sorted('org.name') }} glyphicon icon-btn "></th>
        <th on-click="sort:surveyName">Source<span class="sortable {{ sorted('surveyName') }} glyphicon icon-btn "></th>
        <th on-click="sort:questionCategories">Category<span class="sortable {{ sorted('question.categories') }} glyphicon icon-btn "></th>
        <th on-click="sort:questionName">Question<span class="sortable {{ sorted('question.name') }} glyphicon icon-btn "></th>
        <th on-click="sort:applicablePeriod">Period<span class="sortable {{ sorted('applicablePeriod') }} glyphicon icon-btn "></th>
        <th on-click="sort:status">Status<span class="sortable {{ sorted('status') }} glyphicon icon-btn "></th>
        <th on-click="sort:response">Response<span class="sortable {{ sorted('response') }} glyphicon icon-btn "></th>
        <th on-click="sort:created">Created<span class="sortable {{ sorted('created') }} glyphicon icon-btn "></th>
        <th on-click="sort:lastUpdated">Last Updated<span class="sortable {{ sorted('lastUpdated') }} glyphicon icon-btn "></th>
        <!--th class="col-actions">Actions</th-->
      </tr>
    </thead>
    <tbody>
    {{#each sort(answers,sortColumn,sortAsc):i}}
      {{# matchSearch(this) }}
        <tr data-href="{{selfRef}}" on-click="edit(i,this)">
          <td>{{i+1}}</td>
          <td>{{surveyReturns.0.org}}</td>
          <td>{{source}}</td>
          <td>{{question.categories.0}}</td>
          <td>{{#question.label}}{{question.label}}{{else}}{{question.name.toLabel()}}{{/}}</td>
          <td>{{applicablePeriod}}</td>
          <td>{{status}}</td>
          <td>{{response}}</td>
          <td>{{formatDate(created)}}</td>
          <td>{{formatDate(lastUpdated)}}</td>
          <!--td class="col-actions">
            <a class="clickable glyphicon icon-btn kp-icon-copy" aria-hidden="true" on-click="clone(this)" title="Clone this record"></a>
            <a class="clickable glyphicon icon-btn kp-icon-remove" aria-hidden="true" on-click="delete(this)" title="Delete this record"></a>
            <a class="clickable glyphicon icon-btn kp-icon-pencil" aria-hidden="true" onclick="ractive.edit(this);ractive.toggleResults();" title="View or edit this answer"></a>
          </td-->
        </tr>
      {{/}}
    {{/each}}
    </tbody>
    <tfoot>
      {{# searchMatched!=undefined }}
        <tr><th colspan="9">{{searchMatched == 0 ? 'No' : searchMatched}} matching answer{{searchMatched==1 ? '' : 's'}}</th></tr>
      {{/}}
    </tfoot>
  </table>
</section>
