<section class="container navbar-sticky">
  <h2>
    {{>navbar}}
    {{>profileArea}}
  </h2>
</section>
<section id="interventionsSect">
  <h2 class="navbar-top">
    {{>navbar}}
  </h2>
  <table id="interventionsTable" class="table table-striped">
    <thead>
      <tr data-id="{{selfRef}}">
        <th></th>
        <th on-click="sort:name">Name<span class="sortable {{ sorted('name') }} glyphicon icon-btn "></span></th>
        <th on-click="sort:status">Status<span class="sortable {{ sorted('status') }} glyphicon icon-btn "></span></th>
        {{#each organisationTypes:j}}
          <th>{{name}}</th>
        {{/each}}
        <th on-click="sort:tonnesCo2eSavedTargetYear">Sum Org Types</th>
        <th on-click="sort:tonnesCo2eSavedTargetYear">National</th>
      </tr>
    </thead>
    <tbody>
    {{#each sort(interventionTypes,sortColumn,sortAsc):i}}
      {{# matchSearch(this) && matchFilter(this) }}
        <tr data-href="{{links[rel=='self'].href}}">
          <td>{{i+1}}</td>
          <td><b>{{name}}</b><br/>
            %<br/>
            tCO<sub>2</sub>e Saved<br/>
            £000s Saved
          </td>
          <td>{{status}}</td>
          {{#each organisationTypes:j}}
            <td>
              {{findShareOfTotal(i,j)}}<br/>
              {{findShareOfCarbon(i,j).formatDecimal(0, '.', ',')}}<br/>
              {{findShareOfFinancial(i,j).formatDecimal(0, '.', ',')}}
            </td>
          {{/each}}
          <td style="text-align:right">
            {{sumShare(i)}}<br/> 
            {{sumCarbon(i).formatDecimal(0, '.', ',')}}<br/>
            {{sumFinancial(i).formatDecimal(0, '.', ',')}}
          </td> 
          <td style="text-align:right">100%<br/> 
            {{tonnesCo2eSavedTargetYear.formatDecimal(0, '.', ',')}}<br/>
            {{targetYearSavings.formatDecimal(0, '.', ',')}}
          </td>
        </tr>
      {{/}}
    {{/each}}
    </tbody>
    <tfoot>
      {{# searchTerm!=undefined }}
        <tr><th colspan="9">{{searchMatched == 0 ? 'No' : searchMatched}} matching intervention{{searchMatched==1 ? '' : 's'}}</th></tr>
      {{/}} 
    </tfoot>
  </table>
</section>