<section id="currentSect" style="display:none">
  <form class="inline-form form" id="currentForm">
    <h2 class="form-inline form">
      <span>Parameter:</span>
      <span>{{current.name}}</span>
      <span class="pull-right">
        <a class="clickable glyphicon icon-btn kp-icon-remove" aria-hidden="true" on-click="delete(current)" title="Delete this record"></a>
      </span>
    </h2>

    <div class="currentBody col-md-6 col-sm-12 col-xs-12">
      <ul class="form edit-form">
        <li>
          <label class="required col-md-4">Name:</label><input class="form-control" id="curName" required value="{{current.name}}"/>
          <p class="help-block col-md-offset-4">The parameter under consideration.</p>
        </li>
        <li>
          <label class="required col-md-4">Value:</label><input class="form-control" id="curValue" required value="{{current.value}}"/>
          <p class="help-block col-md-offset-4">.</p>
        </li>
      </ul>
    </div>
    <div class="currentBody col-md-6 col-sm-12 col-xs-12">
      <ul class="form edit-form">
        <li>
          <label class="col-md-4">Description:</label>
          <textarea class="form-control" id="curDescription" value="{{current.description}}"></textarea>
        </li>
      </ul>
    </div>
  </form>

</section>
