<div class="col-sm-6 col-xs-12">
  <a id="parametersTableToggle" class="clickable glyphicon icon-btn kp-icon-caret-down" aria-hidden="true" on-click="toggleResults()" title="Collapse or expand the parameter table"></a>
  <span>Parameters</span>
  <a class="clickable glyphicon icon-btn kp-icon-plus" aria-hidden="true" on-click="add()" title="Add a new parameter"></a>
  <a class="clickable glyphicon icon-btn kp-icon-refresh" aria-hidden="true" on-click="fetch()" title="Refresh the list"></a>
</div>
<div class="col-sm-6 col-xs-12">
  <input type="search" class="form-control search" placeholder="Search" value="{{searchTerm}}">
  <a class="glyphicon icon-btn kp-icon-search" aria-hidden="true" title="Search for matching parameter org types"></a>
</div>
<div style="clear:both"></div>