<section id="wizard">

  <h2>Your carbon and cost benefit curve</h2>

  <!-- Nav tabs -->
  <ul class="wizard-step nav nav-pills" role="tablist">
    <li role="presentation" class="active"><a href="#start" aria-controls="start" role="tab" data-toggle="tab">1. Start</a></li>
    <li role="presentation"><a href="#tailor" aria-controls="tailor" role="tab" data-toggle="tab">2. Tailor to you</a></li>
    <li role="presentation"><a href="#existingInterventions" aria-controls="existingInterventions" role="tab" data-toggle="tab">3. Existing Interventions</a></li>
    <li role="presentation"><a href="#review" aria-controls="review" role="tab" data-toggle="tab">4. Review</a></li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <section role="tabpanel" class="tab-pane active" id="start">
      <h3>Please select the organisation type that most closely matches yours</h3>
      <p><i>A note on Clinical Commissioning Groups:</i> CCGs are responsible for large budgets including defining new models of care that can
      deliver significant carbon and financial savings. However in themselves they are directly responsible for a relatively small level of emissions.
      To model this, interventions <i>commissioned</i> by CCGs are included in this tool but only those <i>delivered</i> by other types of organisation.</p>
      <form class="form-horizontal">
        {{#commissioningOrganisationTypes:idx}}
          {{#if idx % 2 == 0}}<div class="row">{{/if}}
          <div class="col-md-offset-3 col-md-6" style="padding:10px;">
            <figure>
              <span class="clickable col-md-12 glyphicon tr-large-icon kp-icon-{{icon}}" data-id="{{selfRef}}" on-click="select(this)" title="{{name}}"></span>
              <figcaption>{{name}}</figcaption>
            </figure>
          </div>
        {{/}}
        {{#organisationTypes:idx}}
          {{#if idx % 4 == 0}}<div class="row">{{/if}}
          <div class="col-md-3" style="padding:20px;">
            <figure>
              <span class="clickable col-md-12 glyphicon tr-large-icon kp-icon-{{icon}}" data-id="{{selfRef}}" on-click="select(this)" title="{{name}}"></span>
              <figcaption>{{name}}</figcaption>
            </figure>
          </div>
        {{/}}
        <div class="form-group">
          <span class="col-xs-offset-10 col-sm-offset-10 col-md-offset-10 col-lg-offset-10">
            <button type="button" class="btn btn-primary" on-click="showStep('tailor')">Next</button>
          </span>
        </div>
      </form>
    </section>

    <section role="tabpanel" class="tab-pane" id="tailor" style="margin-bottom:30px">
      <h3>Tailor to your organisation</h3>
      <p>Based on the organisation type you selected we have estimates for these values but if you provide actual data it will scale the interventions to your organisation.
        {{#if !isLoggedIn()}}<em>To enter your own details you need to be logged in.</em>{{/if}}
      </p>
      <p>Further information on scale factors is available in each intervention.</p>
      <form class="form-horizontal">
        {{#current.characteristics:idx}}
          {{#if idx % 3 == 0}}<div class="row">{{/if}}
          <div class="col-md-offset-1 col-md-3 col-sm-12">
            <div class="form-group">
              <label for="curUnitCount{{idx}}">{{name}} {{unit}}</label>
              <input class="form-control" id="curUnitCount{{idx}}" on-blur="updatePlan('tailor')" placeholder="{{unit}}" {{#if isLoggedIn() }} readonly="on" disabled="on"{{/if}} title="{{unitDescription}}" step="any" type="number" value="{{unitCount}}">
              <p class="help-block help-block-lg">{{unitDescription}}</p>
            </div>
          </div>
        {{/}}

        <div class="row">
          <div class="col-md-3 col-sm-12"></div>
          <div class="form-group">
            <div class="col-md-offset-1 col-md-3 col-sm-12"></div>
            <div class="col-md-offset-1 col-md-3 col-sm-12"></div>
          </div>
          <button type="button" class="btn" on-click="showStep('start')">Previous</button>
          <span class="col-xs-offset-10 col-sm-offset-10 col-md-offset-10 col-lg-offset-10">
            <button type="button" class="btn btn-primary" on-click="showStep('existingInterventions')">Next</button>
          </span>
        </div>
      </form>
    </section>

    <section role="tabpanel" class="tab-pane" id="existingInterventions">
      <h3>Which of these interventions have you <em>already</em> implemented?
        {{#if !isLoggedIn()}}<em>(Once again, to enter your own details you need to be logged in.</em>){{/if}}
      </h3>
      <form class="form-horizontal">
        {{#interventions:idx}}
          {{#if idx % 3 == 0}}<div class="row">{{/if}}
          <div class="col-md-4 col-sm-12">
            <label class="checkbox" for="option{{idx}}">{{name}}</label>
            <input class="dataSet" data-idx="0" type="checkbox" id="option{{idx}}" {{#if isLoggedIn() }} readonly="on" disabled="on"{{/if}} onblur="ractive.updateExistingInterventions('{{name}}')" name="dataSet">
          </div>
        {{/}}
        <div class="form-group" style="clear:both">
          <button type="button" class="btn" on-click="showStep('tailor')">Previous</button>
          <span class="col-xs-offset-10 col-sm-offset-10 col-md-offset-10 col-lg-offset-10">
            <button type="button" class="btn btn-primary" on-click="showStep('review')">Next</button>
          </span>
        </div>
      </form>
    </section>

    <section role="tabpanel" class="tab-pane" id="review">
      <h3>Review plan for {{current.orgTypeName}}</h3>
      <p><u>Please note:</u> <i>{{healthWarning}}</i></p>
      {{{haveOverlaps(interventions)}}}
      {{>maccDisplaySect}}
      {{>maccOptionsSect}}
      {{>macTableDisplaySect { active: 'planner' }}}

      <div class="form-group">
        <button type="button" class="btn" on-click="showStep('existingInterventions')">Previous</button>
      </div>
    </section>
  </div>

</section>
