<section id="currentSect" style="display:none">
  <form class="inline-form form" id="currentForm">
    <h2 class="form-inline">
      <span>{{current.category}}</span>
      <span class="pull-right">
        <a class="clickable glyphicon icon-btn kp-icon-remove" aria-hidden="true" on-click="@this.delete(current)" title="Delete this record"></a>
      </span>
    </h2>

    <div class="currentBody col-md-6 col-sm-12 col-xs-12">
      <ul class="form edit-form">
        <li>
          <label class="col-md-4 required">Category:</label>
          <input class="form-control" id="curCategory" required value="{{current.category}}"/>
          <p class="help-block col-xs-offset-4"></p>
        </li>
        <li>
          <label class="col-md-4">Organisation Type:</label>
          <input class="form-control" id="curOrgType" value="{{current.orgType}}"/>
          <p class="help-block col-xs-offset-4"></p>
        </li>
        <li>
          <label class="col-md-4">Applicable Period:</label>
          <input class="form-control" id="curApplicablePeriod" value="{{current.applicablePeriod}}"/>
          <p class="help-block col-xs-offset-4"></p>
        </li>
      </ul>
    </div>
    <div class="currentBody col-md-6 col-sm-12 col-xs-12">
      <ul class="form edit-form">
        <li>
          <label class="col-md-4">Money Value:</label>
          <input class="form-control" id="curMoneyValue" value="{{current.moneyValue}}"/>
          <p class="help-block col-xs-offset-4"></p>
        </li>
        <li>
          <label class="col-md-4">Intensity Value:</label>
          <input class="form-control" id="curIntensityValue" value="{{current.intensityValue}}"/>
          <p class="help-block col-xs-offset-4"></p>
        </li>
        <li>
          <label class="col-md-4 required">Proportion:</label>
          <input class="form-control" id="curProportionOfTotal" value="{{current.proportionOfTotal}}"/>
          <p class="help-block col-xs-offset-4"></p>
        </li>
      </ul>
    </div>

  </form>
</section>
