<section class="container navbar-sticky">
  <h2>
    {{>navbar}}
    {{>profileArea}}
  </h2>
</section>
<section id="wfactorsSect">
  <h2 class="navbar-top">
    {{>navbar}}
  </h2>
  <table id="wfactorsTable" class="table table-striped">
    <thead>
      <tr>
        <th></th>
        <th on-click="sort:category">Category<span class="sortable {{ sorted('name') }} glyphicon icon-btn"></span></th>
        <th on-click="sort:applicablePeriod">Period<span class="sortable {{ sorted('type') }} glyphicon icon-btn"></span></th>
        <th on-click="sort:orgType">Organisation Type<span class="sortable {{ sorted('orgType') }} glyphicon icon-btn"></span></th>
        <th on-click="sort:proportionOfTotal">Proportion<span class="sortable {{ sorted('proportionOfTotal') }} glyphicon icon-btn"></span></th>
        <th class="col-actions">Actions</th>
      </tr>
    </thead>
    <tbody>
    {{#each sort(wfactors,sortColumn,sortAsc):i}}
      {{# matchSearch(this) }}
        <tr data-href="{{links[rel=='self'].href}}" on-click="edit(this)">
          <td>{{i+1}}</td>
          <td>{{category}}</td>
          <td>{{applicablePeriod}}</td>
          <td>{{orgType}}</td>
          <td>{{proportionOfTotal}}</td>
          <td class="col-actions">
            <a class="clickable admin glyphicon icon-btn kp-icon-remove" aria-hidden="true" on-click="@this.delete(.)" title="Delete this record"></a>
            <a class="clickable glyphicon icon-btn kp-icon-pencil" aria-hidden="true" on-click="@this.edit(.)" title="View or edit this intervention"></a>
          </td>
        </tr>
      {{/}}
    {{/each}}
    </tbody>
    <tfoot>
      {{# searchTerm!=undefined }}
        <tr><th colspan="11">{{searchMatched == 0 ? 'No' : searchMatched}} matching record{{searchMatched==1 ? '' : 's'}}</th></tr>
      {{/}}
    </tfoot>
  </table>
</section>
